
// preset form values if we receive a userdata object //
- user = typeof(locals.udata) != 'undefined' ? locals.udata : { }
// store the userId on the client side in a hidden input field //
input(type='hidden', value= user._id)#userId

#account-form-container.container
	form( method="post")#account-form.form-horizontal.well.span6
		h1
		p#sub1.subheading Please tell us a little about yourself.
		hr
		fieldset
			#name-cg.control-group
				label.control-label(for='name-tf') Name
				.controls
					input#name-tf.input-xlarge(type='text', name='name', value= user.name)
			#email-cg.control-group
				label.control-label(for='email-tf') Email
				.controls
					input#email-tf.input-xlarge(type='text', name='email', value= user.email)
			hr
			p#sub2.subheading
			#lgbt-cg.control-group
				label.control-label(for='lgbt-list') LGBT+
				.controls
					select#lgbt-list(name='lgbt')
						option(selected=user.lgbt == "No") No
						option(selected=user.lgbt == "Yes") Yes
			#black-cg.control-group
				label.control-label(for='black-list') Black
				.controls
					select#black-list(name='black')
						option(selected=user.black == "No") No
						option(selected=user.black == "Yes") Yes
			#disabled-cg.control-group
				label.control-label(for='disabled-list') Disabled
				.controls
					select#disabled-list(name='disabled')
						option(selected=user.disabled == "No") No
						option(selected=user.disabled == "Yes") Yes
			#woman-cg.control-group
				label.control-label(for='woman-list') Woman
				.controls
					select#woman-list(name='woman')
						option(selected=user.woman == "No") No
						option(selected=user.woman == "Yes") Yes
			hr
			p#sub3.subheading
			#user-cg.control-group
				label.control-label(for='user-tf') Username
				.controls
					input#user-tf.input-xlarge.disabled(type='text', name='user', value= user.user)
			#pass-cg.control-group
				label.control-label(for='pass-tf') Password
				.controls
					input#pass-tf.input-xlarge(type='password', name='pass', value='')
			.form-actions
				button(type='button')#account-form-btn1.btn
				button(type='submit')#account-form-btn2.btn

// display form errors in a custom modal window //

include modals/form-errors
